body {
    background:url(https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    margin: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 150px;
}

.card{
    width: 400px;
    /* 
    Challenge:
    Replace the two margin properties with a 
    single margin shorthand.
    */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #14213d;
    color: #fca311;
    border-top: 6px solid #d90429;
    border-bottom: 6px solid #d90429;
}

.border-blue {
    border: 1px dotted blue;
}
